.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #264653;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.playButton {
  background-color: #e76f51; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  flex-direction: column;

  border-top: 1px solid #2a9d8f;
  border-left: 1px solid #2a9d8f;

  width: 15px;
  height: 15px;
}

.cell:last-child {
  border-right: 1px solid #2a9d8f;
}

.border {
  background-color: #2a9d8f;
}

.snake {
  background-color: #e76f51;
}

.food {
  background-color: #e9c46a;
}