.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  flex-direction: column;

  border-top: 1px solid #282c34;
  border-left: 1px solid #282c34;

  width: 15px;
  height: 15px;
}

.cell:last-child {
  border-right: 1px solid #282c34;
}

.border {
  background-color: #282c34;
}

.snake {
  background-color: red;
}

.food {
  background-color: green;
}